.breadcrumb-item{
    padding-top: 5px;
}


div.py-3-bg-light-v2{
    background-color: #F7F2E8;
	}


li.breadcrumb-item a {
	color: black;
	font-weight: 450;
  	text-decoration: none;
}

li.breadcrumb-item a:hover {
  color: #3bc3fd;
	text-decoration: none;


}
